.containerGrid5{
  display: grid;
  grid-template-columns: repeat(3,minmax(100px,auto));
  /*
  grid-gap establece la separación entre columnas y rows
  */
  grid-gap: 20px;
}

img{
  width: 20px;
  height: 220px;
}

#div2{
  width: 200px;
}

#div3{
  width: 150px;
  display: flex;
  /* flex-direction = column --> pone los elementos en columna. Al cargar la página el priimer elemento lo pone a la derecha, porque hay otra modificación más abajo para el elemento 1 de hijo */
  flex-direction: column;
  border-bottom: 1px solid black;
}

#div2 > tr{
  padding: 10px;
  display: flex;
  /* flex-direction = column --> pone los elementos en columna. Al cargar la página el priimer elemento lo pone a la derecha, porque hay otra modificación más abajo para el elemento 1 de hijo */
  flex-direction: column;
  border-bottom: 1px solid black;
}


.example-parent {
    border: 2px solid #DFA612;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .example-origin {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }
  
  .example-draggable {
    background-color: #4AAE9B;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
  }
  
  .example-dropzone {
    background-color: #6DB65B;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }

  #div1, #div2, #div3 {
    float: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  }


